[Desktop Entry]
Type=Application
Name=小蝶故事机
Comment=打开小蝶图形控制面板
Exec=/home/vicky/xiaodie/app/xiaodie_web_launcher.sh
Icon=audio-input-microphone
Terminal=false
Categories=Education;AudioVideo;
StartupNotify=true
